

  
        <div class="row justify-content-center  mt-5">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="card-header">
                  S'inscrire
                </div>
                <div class="card-body">
                  <form>
                    <div class="mb-3">
                      <label for="nom" class="form-label">Nom</label>
                      <input type="text" class="form-control" id="nom" name="nom" required>
                    </div>
                    <div class="mb-3">
                      <label for="prenom" class="form-label">Prénom</label>
                      <input type="text" class="form-control" id="prenom" name="prenom" required>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Mot de passe</label>
                      <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                      <label for="num_permis" class="form-label">Numéro de permis</label>
                      <input type="text" class="form-control" id="num_permis" name="num_permis">
                    </div>
                    <div class="mb-3">
                      <label for="num_immatriculation" class="form-label">Numéro d'immatriculation</label>
                      <input type="text" class="form-control" id="num_immatriculation" name="num_immatriculation">
                    </div>
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        
        
