<div class="d-flex flex-nowrap overflow-auto scrollbar">
    <div class="mx-3 mt-5" style="width: 28rem;">
        <div class="card mx-3" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    </div>
        
    </div>
    <div class="mx-3 mt-5" style="width: 28rem;">
        <div class="card mx-3" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    </div>
        
    </div>
    <div class="mx-3 mt-5" style="width: 28rem;">
     
        <div class="card mx-3" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>


    </div>
    <!-- Ajouter plus de div si nécessaire -->
  </div>
  
